// Place all the styles related to the ToDos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #527EB7;
$white: #fff;
$light: rgba(256, 256, 256, 0.9);
$dark: #0a1744;


// for forms
.todo-form{
  .form-lable{
    // text-align: center;
    color: $white;
    display: block;
  }
  .form-control{
    display: inline-block;
    width: 80%;
    border: none;
    color: $dark;
    background-color: $light;
  }
}
.form-group.deadline .form-lable{
  margin-right: 20px;
}


// for links and btns
.btn-link{
  margin-top: 20px;
  padding: 6px 12px;
  height: 34px;
  background: $light;
  margin-left: 10px;
  border-radius: 4px;
  color: $dark;
  &:hover{
    text-decoration: none;
    background: $light;
    opacity: 0.9;
    color: $dark;
    // opacity: 0.9
  }
}

table.todos{
  width: 100%;
  padding: 30px 0;
  text-align: left;
  font-size: 16px;
  tr{
    padding: 5px 0;
  }
}

.todo-block{
  .fa{
    padding: 5px;
    &:hover{
      color: $light;
    }
  }
}

.todo-block-done{
  opacity: 0.3;
  text-decoration: line-through;
}
